article
  .full-flex-container
    +flexy-container

  h1
    font-size: 2.5rem

  p
    font-size: 1.8rem
    line-height: 1.4

  aside
    color: #eee
    color: rgba(0, 0, 0, 0.75)

  blockquote
    color: red
