=full-screen
  width: 100vw
  min-width: 100vw
  height: 100vh
  min-height: 100vh

.scene
  +full-screen
  position: fixed
  perspective: 600px

.bg
  position: fixed

  &.stars
    +full-screen
    perspective: 500px
    perspective-origin: 50% 50%

    .star
      width: 5px
      height: 5px
      border-radius: 9999em
      background: #fff
      opacity: 0

  &.skylight
    +full-screen

  &.daylight
    +full-screen

.bg-img
  position: fixed
  +full-screen
  background-position: center center
  background-repeat: no-repeat
  background-size: cover

.sky
  background-image: image-url('sky.jpg')

.mtn
  background-image: image-url('mtns.png')
  opacity: 0

.content
  z-index: 3
  position: fixed
  padding: 3%
  color: #fff
  width: 100%

  h1, h2
    margin-bottom: 2rem

  h1
    +monospace
    text-transform: capitalize
    font-size: 1.55rem
    +font-smoothing

  h2
    +serif
    +font-smoothing
    width: 70%
    max-width: 550px

  button
    outline: none
    border: 2px solid rgba(#fff, 0.85)
    background: none
    padding: 1rem 2rem
    +serif
    font-weight: 700
    +font-smoothing
    font-size: 1.25rem
    transform: translateX(-500px)

  textarea
    border: none

    +sans-serif
    font-size: 3.75rem
    letter-spacing: 2px
    text-transform: uppercase
    text-align: center

    position: absolute
    width: 30%

    top: 0
    bottom: 0
    left: 0
    right: 0
    margin: auto

    resize: none
    overflow: auto
    background: none
    outline: none

.help
  padding: 2rem
  background: red
  display: none
