=serif
  // weights/styles: 400,700,400italic
  font-family: 'Gentium Basic', Georgia, serif
  font-weight: 400

=sans-serif
  // weights: 800,300
  font-family: 'Open Sans', 'Helvetica-Neue', Helvetica, sans-serif
  font-weight: 800

=monospace
  font-family: 'Inconsolata', 'Lucida Console', Monaco, monospace
  font-weight: normal

body
  +serif

h1, h2, h3, h4, h5, h6
  +sans-serif
  text-transform: uppercase
