%meta(property="og:title" content="Kevin Pruett | Designer & Developer")
%meta(property="og:url" content="http://kevinpruett.com")
%meta(property="og:type" content="website")
%meta(property="og:description" content="I&rsquo;m a designer &amp; builder &mdash; passionate about creating simple &amp; powerful interfaces, tools, and experiences through clean design &amp; code.")
%meta(property="og:image" content="http://kevinpruett.com/img/snow_bison.jpg")

%meta(name="twitter:card" content="the truth")
%meta(name="twitter:title" content="Kevin Pruett | Designer & Developer")
%meta(name="twitter:description" content="I&rsquo;m a designer &amp; builder &mdash; passionate about creating simple &amp; powerful interfaces, tools, and experiences through clean design &amp; code.")
%meta(name="twitter:url" content="http://kevinpruett.com")
%meta(name="twitter:image" content="http://kevinpruett.com/img/snow_bison.jpg")
