.scene
  .sky.bg.bg-img
  .skylight.bg
  .stars.bg
    - (1..41).each do |i|
      .star
  .mtn.bg.bg-img
  .daylight.bg

.content
  %h1 Kevin Pruett
  %ul.social
    %li
      %a.twitter(href="https://twitter.com/pruett")
    %li
      %a.github(href="https://github.com/pruett")

  %h2.about
    %span.extra
      I&rsquo;m a designer &amp; builder &mdash; passionate about creating
    %span.core
      simple &amp; powerful
    %span.extra
      interfaces, tools, and experiences through clean
    %span.core
      design &amp; code.

  %script(async=true src="//platform.twitter.com/widgets.js")
  %a.work(href="https://twitter.com/intent/tweet?in_reply_to=539799729031630848&text=let's+do+some+work!" data-trigger="tweetMe") Let&rsquo;s work together
