.scene
  .sky.bg.bg-img
  .skylight.bg
  .stars.bg
    - (1..41).each do |i|
      .star
  .mtn.bg.bg-img
  .daylight.bg

.content
  %h1 Kevin Pruett

  %h2.about
    %span.extra
      I&rsquo;m a designer &amp; builder &mdash; passionate about creating
    %span.core
      simple &amp; powerful
    %span.extra
      interfaces, tools, and experiences through clean
    %span.core
      design &amp; code.

  %button Let&rsquo;s work together
