
.bg
  .mask

.content
  %h1 Kevin Pruett

  %h2
    %span.extra
      I&rsquo;m a designer &amp; builder &mdash; passionate about creating
    %span.core
      simple &amp; powerful
    %span.extra
      interfaces, tools, and experiences through clean
    %span.core
      design &amp; code.

  %button Let&rsquo;s work together
