.mask

.content
  %h1 Kevin Pruett

  %h2
    I'm a designer &amp; builder; passionate about creating simple, powerful interfaces, tools, and experiences through clean design &amp; code.

  %button how can i help you?
