.mask

.content
  %h1 Kevin Pruett

  %h2
    %span.extra
      I&rsquo;m a designer &amp; builder &mdash; passionate about creating
    %span.core
      simple &amp; powerful
    %span.extra
      interfaces, tools, and experiences through clean
    %span.core
      design &amp; code.

  %button how can i help you?

  .help how can i help you?
